.gradle
.idea
*.iml
build
target
out
*/*.iml
*/out
*/build
*/out/*
.DS_Store
deploy/*
.classpath
.project
.settings
*/.classpath
*/.project
*/.settings/
*/bin/

/gradle
gradlew
gradlew.bat

node_modules/*
package-lock.json
package.json